{% extends 'main/base.html' %}



{% load static %}

{% block content %}

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="page-wrapper">

    
            <div class="container title-container" style="display: flex;align-items: center;justify-content: center;">
                <img src="{% static 'images/logo_icon_blue.png' %}" alt="bg" class="bg-watermark-img" />

                <h2 class="page-header__title project_page-header__title">Annual Report</h2>

            </div>

            <section class="event-details section-space title-container">
                <img src="{% static 'images/design_icon_3.png' %}" alt="Design" class="design-img3" />
                <div class="container">
                    <div class="row gutter-y-60">
                        <div class="col-12">
                            <div class="pdf-viewer-wrapper">
                                <iframe 
                                    src="{% static 'images/anual_report.pdf' %}" 
                                    width="100%" 
                                    height="700px"
                                    style="border: none;"
                                    class="desktop-only">
                                    This browser does not support PDFs.
                                </iframe>
            
                                <div class="mobile-only text-center">
                                    <p>Your device doesn't support embedded PDFs. Please download to view:</p>
                                    <a href="{% static 'images/anual_report.pdf' %}" class="btn btn-primary" download>Download PDF</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        <section class="subscribe">
            <div class="subscribe__bg"></div>
            <div class="container">
                <div class="row1">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="subscribe__content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscribe__shape">
                <div class="subscribe__shape__one"></div>
                <div class="subscribe__shape__two"></div>
            </div>
        </section>
    </div>



    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
            <div class="logo-box">
                <a href="{% url 'home' %}" aria-label="logo image"><img src="{% static 'images/logo-light.png' %}" width="155" alt="" /></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@khidmattrust.org">info@khidmattrust.org</a> <br>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+91 86579 70797 ">+91 86579 70797 </a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftrust_khidmat">
                    <img src="{% static 'images/X_logo white.svg' %}" alt="X Logo" class="x-logo" />
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.instagram.com/khidmat_trust/?igsh=MXU0eHg3NXNva245cw%3D%3D" aria-hidden="true">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div>
        </div>
    </div>

    <div class="search-popup @@extraClassName">
        <div class="search-popup__overlay search-toggler"></div>
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="khidmat-btn">
                    <span><i class="icon-search"></i></span>
                </button>
            </form>
        </div>
    </div>

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

  

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

    <script src="{% static 'js/jarallax.min.js' %}"></script>

    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/wNumb.min.js' %}"></script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

    <script src="{% static 'js/wow.js' %}"></script>

    <script src="{% static 'js/imagesloaded.min.js' %}"></script>

    <script src="{% static 'js/cleenhearts.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="js/script.js"></script>

    <script>
        function increaseCount(element) {
            let countElement = element.querySelector('.reaction-count');
            let currentCount = parseInt(countElement.textContent);
            countElement.textContent = currentCount + 1;
        }
    </script>
    <script>
        let calScrollValue = () => {
            let scrollProgress = document.getElementById('progressbar');
            let pos = document.documentElement.scrollTop;
            let calHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round((pos * 100) / calHeight);
            let progressValue = document.querySelector('.progressValue');

            if (pos > 100) {
                scrollProgress.style.display = 'grid';
            } else {
                scrollProgress.style.display = 'none';
            }

            // Corrected string interpolation
            progressValue.textContent = `${scrollValue}%`;

            // Fixing the background style
            scrollProgress.style.background = `conic-gradient(#194eb9 ${scrollValue}%, #67ccff ${scrollValue}%)`;
        }

        window.onscroll = calScrollValue;
        window.onload = calScrollValue;

        document.getElementById('progress').addEventListener('click', () => {
            // Do nothing on click, just update the percentage text
        });
    </script>

</body>
{% endblock content %}