{% extends 'main/base.html' %}

{%load static%}

{% block content %}

<body class="custom-cursor">

  <div class="custom-cursor__cursor"></div>
  <div class="custom-cursor__cursor-two"></div>
  <div class="page-wrapper">
    <!-- <div class="topbar-one">
            <div class="container-fluid">
                <div class="topbar-one__inner">
                    <ul class="list-unstyled topbar-one__info">
                        <li class="topbar-one__info__item">
                            <span class="topbar-one__info__icon icon-paper-plane"></span>
                            <a href="mailto:info@khidmattrust.org">info@khidmattrust.org</a
                >
              </li>
            </ul>
            <div class="topbar-one__right">
              <div class="social-link topbar-one__social">
                <a
                  href="https://www.facebook.com/people/Khidmat-Charitable-Trust/100081203701961/?mibextid=ZbWKwL"
                >
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                  <span class="sr-only">Facebook</span>
                </a>
                            <a href="https://www.instagram.com/khidmat_trust/?igsh=MXU0eHg3NXNva245cw%3D%3D">
                  <i class="fab fa-instagram" aria-hidden="true"></i>
                  <span class="sr-only">Instagram</span>
                </a>
                            <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftrust_khidmat">
                  <img src="images/X_logo 1.svg" alt="X Logo" class="x-logo" />
                  <span class="sr-only">Twitter</span>
                </a>
                            <a href="https://www.youtube.com/@khidmattrust" aria-hidden="true">
                  <i class="fab fa-youtube"></i>
                  <span class="sr-only">Youtube</span>
                </a>
                </div>
            </div>
        </div>
    </div>
    </div> -->



    <section class="page-header @@extraClassName">
      <div class="page-header__bg" style="background-image: url('images/about/topbar.jpeg');"></div>
      <div class="container">
        <h2 class="page-header__title">Careers</h2>
        <ul class="cleenhearts-breadcrumb list-unstyled">
          <li><i class="icon-home"></i> <a href="{% url 'home' %}">Home</a></li>
          <li><span>Careers</span></li>
        </ul>
      </div>
    </section>


    <section class="about-one @@extraClassName mt-5 mb-5">
      <div class="container career-container-hiring">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>{{career_page.title}}</h2>
            <p>{{career_page.descriptions}}
            </p>
            <!-- <img src="images/careers.jpeg" class="img-fluid"> -->
            <p></p>
          </div>
        </div>
      </div>

      <img src="{% static 'images/shapes/about-shape-1-2.png' %}" alt="" class="about-one__hand" />
    </section>


    <section class="subscribe">
      <div class="subscribe__bg"></div>
      <div class="container">
        <div class="row1">
          <div class="col-lg-5 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="subscribe__content">
              <h2 class="subscribe__title">"Khidmat Charitable Trust – A small step for us, <br> a big
                change for many. <br>
                Together, we make a difference."</h2>
              <!-- <span class="subscribe__title-image icon-email"></span> -->
              <!-- <h2 class="subscribe__title">Subscribe Now</h2> -->
            </div>
          </div>
          <!-- <div class="col-lg-7 wow fadeInUp">
                  <form action="#" data-url="MAILCHIMP_FORM_URL" class="subscribe__form mc-form" data-wow-delay="200ms" data-wow-duration="1500ms">
                      <input type="email" name="EMAIL" id="subscribe" placeholder="enter your email" class="subscribe__form__input" />
                      <button type="submit" class="subscribe__form__btn">
                     <span class="subscribe__form__btn__text">Subscribe now</span>
                      <span class="subscribe__form__btn__icon icon-paper-plane"></span>
                     </button>
                  </form>
                  <div class="mc-form__response"></div>
              </div> -->
        </div>
      </div>
      <div class="subscribe__shape">
        <div class="subscribe__shape__one"></div>
        <div class="subscribe__shape__two"></div>
      </div>
    </section>

  </div>
  <!-- /.page-wrapper -->


  <div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <div class="mobile-nav__content">
      <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
      <div class="logo-box">
        <a href="{% url 'home' %}" aria-label="logo image"><img src="{% static 'images/logo-light.png' %}" width="155" alt="" /></a>
      </div>
      <div class="mobile-nav__container"></div>
      <ul class="mobile-nav__contact list-unstyled">
        <li>
          <i class="fa fa-envelope"></i>
          <a href="mailto:info@khidmattrust.org">info@khidmattrust.org</a> <br>
        </li>
        <li>
          <i class="fa fa-phone-alt"></i>
          <a href="tel:+91 86579 70797 ">+91 86579 70797 </a>
        </li>
      </ul>
      <div class="mobile-nav__social">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
        </a>
        <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftrust_khidmat">
          <img src="{% static 'images/X_logo white.svg' %}" alt="X Logo" class="x-logo" />
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://www.instagram.com/khidmat_trust/?igsh=MXU0eHg3NXNva245cw%3D%3D" aria-hidden="true">
          <i class="fab fa-instagram" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
        </a>
        <a href="https://youtube.com" aria-hidden="true">
          <i class="fab fa-youtube"></i>
          <span class="sr-only">Youtube</span>
        </a>
      </div>
    </div>
  </div>

  <div class="search-popup @@extraClassName">
    <div class="search-popup__overlay search-toggler"></div>
    <div class="search-popup__content">
      <form role="search" method="get" class="search-popup__form" action="#">
        <input type="text" id="search" placeholder="Search Here..." />
        <button type="submit" aria-label="search submit" class="khidmat-btn">
          <span><i class="icon-search"></i></span>
        </button>
      </form>
    </div>
  </div>

  <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
    <span class="scroll-to-top__text">back top</span>
    <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
  </a>
  

  <script>
    let calScrollValue = () => {
      let scrollProgress = document.getElementById('progressbar');
      let pos = document.documentElement.scrollTop;
      let calHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      let scrollValue = Math.round((pos * 100) / calHeight);
      let progressValue = document.querySelector('.progressValue');

      if (pos > 100) {
        scrollProgress.style.display = 'grid';
      } else {
        scrollProgress.style.display = 'none';
      }

      // Corrected string interpolation
      progressValue.textContent = `${scrollValue}%`;

      // Fixing the background style
      scrollProgress.style.background = `conic-gradient(#194eb9 ${scrollValue}%, #67ccff ${scrollValue}%)`;
    }

    window.onscroll = calScrollValue;
    window.onload = calScrollValue;

    document.getElementById('progress').addEventListener('click', () => {
      // Do nothing on click, just update the percentage text
    });
  </script>

  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

  <script src="{% static 'js/jarallax.min.js' %}"></script>

  <script src="{% static 'js/jquery-ui.js' %}"></script>

  <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

  <script src="{% static 'js/wNumb.min.js' %}"></script>

  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

  <script src="{% static 'js/wow.js' %}"></script>

  <script src="{% static 'js/imagesloaded.min.js' %}"></script>

  <script src="{% static 'js/cleenhearts.js' %}"></script>
</body>

{% endblock content %}