{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="page-wrapper">

        <!-- <div class="topbar-one">
            <div class="container-fluid">
                <div class="topbar-one__inner">
                    <ul class="list-unstyled topbar-one__info">
                        <li class="topbar-one__info__item">
                            <span class="topbar-one__info__icon icon-paper-plane"></span>
                            <a href="mailto:info@khidmattrust.org">info@khidmattrust.org</a>
                        </li>
                    </ul>
                    <div class="topbar-one__right">
                        <div class="social-link topbar-one__social">
                            <a href="https://www.facebook.com/people/Khidmat-Charitable-Trust/100081203701961/?mibextid=ZbWKwL">
                      <i class="fab fa-facebook-f" aria-hidden="true"></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                            <a href="https://www.instagram.com/khidmat_trust/?igsh=MXU0eHg3NXNva245cw%3D%3D">
                      <i class="fab fa-instagram" aria-hidden="true"></i>
                      <span class="sr-only">Instagram</span>
                    </a>
                            <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftrust_khidmat">
                      <img src="images/X_logo 1.svg" alt="X Logo" class="x-logo" />
                      <span class="sr-only">Twitter</span>
                    </a>
                            <a href="https://www.youtube.com/@khidmattrust" aria-hidden="true">
                      <i class="fab fa-youtube"></i>
                      <span class="sr-only">Youtube</span>
                    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

       

        <section class="page-header @@extraClassName">
            <div class="page-header__bg"></div>

            <div class="container">
                <h2 class="page-header__title">Events</h2>
                <ul class="cleenhearts-breadcrumb list-unstyled">
                    <li><i class="icon-home"></i> <a href="{% url 'home' %}">Home</a></li>
                    <li><span>Help & Assistance</span></li>
                </ul>
            </div>
        </section>

        <section class="event-details section-space">
            <div class="container">
                <div class="row gutter-y-60">
                    <div class="col-lg-8">
                        <div class="event-details__content">
                            <div class="event-details__image wow fadeInUp" data-wow-duration="1500ms"
                                data-wow-delay="00ms">
                                <img src="images/events/event-3.jpg" alt="event-details">
                                <div class="event-details__hall">
                                    <span>2</span>
                                    <span>Reactions</span>
                                </div>
                                <!-- <div class="event-details__date">
                                    <span>17</span>
                                    <span>July</span>
                                </div> -->
                            </div>
                            <div class="event-details__time">
                                <i class="event-details__time__icon fa fa-clock"></i>
                                <span class="event-details__time__text">10:00 aM - 2.00 PM</span>
                            </div>
                            <h3 class="event-details__title mb-2">Why Should Anyone Approach Kct For Help And Assistance
                            </h3>
                            <div class="event-details__text mt-2">

                                <ul class="event-details__inner__list">

                                    <li>Medicines from the KCT are delivered to the patient’s doorstep the very same
                                        day.</li>
                                    <li>It is ensured that the medicines strips are cut and the bottles are unsealed to
                                        avoid resale/misuse<br> of medicines.</li>
                                    <li>KCT has tie up with various chemists who provide high discounts on these
                                        medicines.</li>
                                    <li>Patients’ applications are carefully and promptly scrutinised by the trustees
                                        before a cheque is<br> issued, making sure that the treatment does not get
                                        unnecessarily delayed.</li>
                                    <li>Around 150 to 180 patients receive KCT’s assistance, every day.</li>
                                    <li>KCT is associated with several other trusts to arrange major expenses, say for a
                                        bypass surgery etc.</li>
                                    <li>Where needed, KCT also provide pre-surgery support as well as financial
                                        assistance to buy shoes,<br> belt and surgical sutures.</li>
                                    <li>All trustees regularly visit KCT office.</li>
                                    <li>No references are sought and each patient is treated equally.</li>
                                    <li>Refreshment and proper seating arrangement are provided to the patient and their
                                        relatives.</li>

                                </ul>
                            </div>
                        </div>


                        <div class="event-details__speaker mt-5">
                            <h3 class="event-details__speaker__title event-details__title">Related Posts</h3>
                            <div class="event-details__speaker__info wow fadeInUp" data-wow-duration="1500ms"
                                data-wow-delay="00ms">
                                <div class="event-details__speaker__image">
                                    <img src="images/events/event-1.jpg" alt="">
                                </div>
                                <div class="event-details__speaker__content">
                                    <div class="event-details__speaker__content__inner">
                                        <div class="event-details__speaker__indentity">
                                            <h4 class="event-details__speaker__name">
                                                DIALYSIS CENTRE</h4>
                                        </div>
                                    </div>
                                    <div class="event-details__speaker__text">
                                        <p>During the course of running our Medical Aid program, KCT Trust members would
                                            come across numerous cases in need of urgent dialysis treatment. Since
                                            dialysis treatment is an on-going cost, for the underprivileged,...</p>
                                        <a href="{% url 'dialysis' %}"> <button class="btnrd cleenhearts-btn">Read
                                                More</button></a>
                                    </div>
                                </div>
                            </div>

                            <div class="event-details__speaker__info wow fadeInUp" data-wow-duration="1500ms"
                                data-wow-delay="00ms">
                                <div class="event-details__speaker__image">
                                    <img src="images/events/event-4.jpg" alt="">
                                </div>
                                <div class="event-details__speaker__content">
                                    <div class="event-details__speaker__content__inner">
                                        <div class="event-details__speaker__indentity">
                                            <h4 class="event-details__speaker__name">
                                                RAMZAN AND MONTHLY RATION AID
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="event-details__speaker__text">
                                        <p>
                                            During the course of running our Medical Aid program, KCT Trust members
                                            would come across numerous cases in need of urgent dialysis treatment. Since
                                            dialysis treatment is an on-going cost, for the underprivileged,…
                                        </p>
                                        <a href="{% url 'ramzan' %}"><button
                                                class="btnrd cleenhearts-btn">Read More</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-0">
                        <aside class="sidebar-event">
                            <div class="sidebar-event__contact contact-one sidebar-event__item wow fadeInUp"
                                data-wow-duration="1500ms" data-wow-delay="00ms">
                                <div class="contact-one__info">
                                    <div class="contact-one__info__item">
                                        <div class="contact-one__info__icon">
                                            <span class="icon-location"></span>
                                        </div>
                                        <div class="contact-one__info__content">
                                            <h4 class="contact-one__info__title">Mailing Address</h4>
                                            <address class="contact-one__info__text">C/O Educational & Welfare
                                                Foundation, P.T Mane Udyan, Mirza Galib Marg, Opp. Rolex Restaurant,
                                                Clare Road, Nagpada Junction, Mumbai: 400 008</address>
                                        </div>
                                    </div>
                                    <div class="contact-one__info__item">
                                        <div class="contact-one__info__icon">
                                            <span class="icon-phone"></span>
                                        </div>
                                        <div class="contact-one__info__content">
                                            <h4 class="contact-one__info__title">Quick Contact</h4>
                                            <a href="tel:91 86579 70797"
                                                class="contact-one__info__text contact-one__info__text--link">+91 86579
                                                70797</a>
                                        </div>
                                    </div>
                                    <div class="contact-one__info__item">
                                        <div class="contact-one__info__icon">
                                            <span class="icon-envelope"></span>
                                        </div>
                                        <div class="contact-one__info__content">
                                            <h4 class="contact-one__info__title">support email</h4>
                                            <a href="mailto:info@khidmattrust.org"
                                                class="contact-one__info__text contact-one__info__text--link">info@khidmattrust.org</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-event__contact__image">
                                    <img src="images/events/event-1.jpg" alt="events">
                                </div>
                            </div>
                            <div class="sidebar-event__map sidebar-event__item wow fadeInUp" data-wow-duration="1500ms"
                                data-wow-delay="100ms">
                                <div class="google-map @@extraClassName">
                                    <iframe title="template google map"
                                        src="https://maps.google.com/maps?t=m&amp;output=embed&amp;iwloc=near&amp;z=17&amp;q=68%2C+Mirza+Galib+Rd%2C+Police+Colony%2C+Ashadham+Colony%2C+Madanpura%2C+Mumbai%2C+india"
                                        class="map__@@extraClassName" allowfullscreen></iframe>
                                </div>

                            </div>

                            <div class="reaction-section">
                                <h2>What's your reaction?</h2>
                                <div class="reaction-buttons">
                                    <div class="reaction-box" onclick="increaseCount(this)">
                                        <i class="reaction-icon">&#128077;</i>
                                        <!-- Thumbs Up Icon -->
                                        <span class="reaction-count">2</span>
                                        <p>Cool</p>
                                    </div>
                                    <div class="reaction-box" onclick="increaseCount(this)">
                                        <i class="reaction-icon">&#128078;</i>
                                        <!-- Thumbs Down Icon -->
                                        <span class="reaction-count">0</span>
                                        <p>Upset</p>
                                    </div>
                                    <!-- <div class="reaction-box" onclick="increaseCount(this)">
                                        <i class="reaction-icon">&#10084;</i>
                                        <span class="reaction-count">0</span>
                                        <p>Love</p>
                                    </div>
                                    <div class="reaction-box" onclick="increaseCount(this)">
                                        <i class="reaction-icon">&#128518;</i>
                                        <span class="reaction-count">0</span>
                                        <p>LOL</p>
                                    </div> -->
                                </div>
                            </div>

                        </aside>

                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe">
            <div class="subscribe__bg"></div>
            <div class="container">
                <div class="row1">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="subscribe__content">
                            <h2 class="subscribe__title">"Khidmat Charitable Trust – A small step for us, <br> a big
                                change for many. <br>
                                Together, we make a difference."</h2>
                            <!-- <span class="subscribe__title-image icon-email"></span> -->
                            <!-- <h2 class="subscribe__title">Subscribe Now</h2> -->
                        </div>
                    </div>
                    <!-- <div class="col-lg-7 wow fadeInUp">
                        <form action="#" data-url="MAILCHIMP_FORM_URL" class="subscribe__form mc-form" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <input type="email" name="EMAIL" id="subscribe" placeholder="enter your email" class="subscribe__form__input" />
                            <button type="submit" class="subscribe__form__btn">
                           <span class="subscribe__form__btn__text">Subscribe now</span>
                            <span class="subscribe__form__btn__icon icon-paper-plane"></span>
                           </button>
                        </form>
                        <div class="mc-form__response"></div>
                    </div> -->
                </div>
            </div>
            <div class="subscribe__shape">
                <div class="subscribe__shape__one"></div>
                <div class="subscribe__shape__two"></div>
            </div>
        </section>


     
    </div>



    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
            <div class="logo-box">
                <a href="{% url 'home' %}" aria-label="logo image"><img src="images/logo-light.png" width="155" alt="" /></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@khidmattrust.org">info@khidmattrust.org</a> <br>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+91 86579 70797 ">+91 86579 70797 </a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftrust_khidmat">
                    <img src="images/X_logo white.svg" alt="X Logo" class="x-logo" />
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.instagram.com/khidmat_trust/?igsh=MXU0eHg3NXNva245cw%3D%3D" aria-hidden="true">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div>
        </div>
    </div>

    <div class="search-popup @@extraClassName">
        <div class="search-popup__overlay search-toggler"></div>
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="khidmat-btn">
                    <span><i class="icon-search"></i></span>
                </button>
            </form>
        </div>
    </div>

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>
   
    <script>
        let calScrollValue = () => {
            let scrollProgress = document.getElementById('progressbar');
            let pos = document.documentElement.scrollTop;
            let calHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round((pos * 100) / calHeight);
            let progressValue = document.querySelector('.progressValue');

            if (pos > 100) {
                scrollProgress.style.display = 'grid';
            } else {
                scrollProgress.style.display = 'none';
            }

            // Corrected string interpolation
            progressValue.textContent = `${scrollValue}%`;

            // Fixing the background style
            scrollProgress.style.background = `conic-gradient(#194eb9 ${scrollValue}%, #67ccff ${scrollValue}%)`;
        }

        window.onscroll = calScrollValue;
        window.onload = calScrollValue;

        document.getElementById('progress').addEventListener('click', () => {
            // Do nothing on click, just update the percentage text
        });
    </script>

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

    <script src="{% static 'js/jarallax.min.js' %}"></script>

    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/wNumb.min.js' %}"></script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

    <script src="{% static 'js/wow.js' %}"></script>

    <script src="{% static 'js/imagesloaded.min.js' %}"></script>

    <script src="{% static 'js/cleenhearts.js' %}"></script>

    <script>
        function increaseCount(element) {
            let countElement = element.querySelector('.reaction-count');
            let currentCount = parseInt(countElement.textContent);
            countElement.textContent = currentCount + 1;
        }
    </script>

</body>

{% endblock content %}