{% extends 'main/base.html' %}



{% load static %}

{% block content %}

<body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>
    <div class="preloader">
        <div class="preloader__image" style="background-image: url(/static/images/loader.png)"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <section class="hero-slider hero-style-1">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% for item in slider_items %}
                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="{{ item.slide_img.url }}">
                            
                            <!-- ✅ Dark Overlay for better text readability -->
                            <div class="overlay"></div>
                    
                            <div class="container">
                                <div data-swiper-parallax="300" class="slide-title">
                                    <h2 data-aos="zoom-out-up">{{ item.slide_title }}</h2>
                                </div>
                                <!-- <div data-swiper-parallax="400" class="slide-text">
                                    <p>{{ item.slide_description }}</p>
                                </div> -->
                                <div class="clearfix"></div>
                                <!-- <div data-swiper-parallax="500" class="slide-btns">
                                    <a href="#" class="theme-btn">More info >></a>
                                </div> -->
                            </div>
                    
                            <div class="slide-shape">
                                <img src="{% static 'images/shapes/shape.png' %}" alt="Not Found">
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    
                    <!-- end swiper-slide -->
                </div>
                <!-- end swiper-wrapper -->
                <!-- swipper controls -->
                <div class="swiper-pagination"></div>
            </div>

        </section>

          <!-- ABOUT SECTION START -->
          <section class="ul-about ul-about-2 section-space ul-section-spacing wow animate__fadeInUp">
            <img src="{% static 'images/design_icon_1.png' %}" alt="Design" class="design-img"/>
            <div class="ul-container">
                <div class="row row-cols-md-2 row-cols-1 align-items-center gy-4 ul-about-row">
                    <div class="col">
                        <div class="ul-about-imgs ul-about-2-img">
                            <div class="img-wrapper">
                                <img src="{% static 'images/about/LSUK7796.JPG' %}" data-aos="flip-left" alt="Image">
                            </div>

                            <!-- <div class="ul-about-2-stat">
                                <span class="number">15+</span>
                                <span class="txt">Years Of Experience</span>
                            </div> -->
                        </div>
                    </div>

                    <!-- txt -->
                    <div class="col">
                        <div class="ul-about-txt">
                            <span class="ul-section-sub-title ul-section-sub-title--2" data-aos="fade-up-left">About US</span>
                            {% if about_section %}
                            <h2 class="ul-section-title" data-aos="fade-up-left">{{about_section.system_title}}</h2>
                            {% endif %}

                            {% if about_section %}
                            <span data-aos="fade-down">
                                <p class="ul-section-descr" >{{ about_section.system_value|linebreaks }}</p>
                            </span>
                            {% endif %}

                            <div class="img-wrapper" data-aos="fade-up-left">
                                <img src="{% static 'images/about/about-home-page.png' %}" alt="Image">
                            </div>
                            
                            <a href="{% url 'about' %}" class="ul-btn" data-aos="fade-up-left"><i
                                    class="flaticon-fast-forward-double-right-arrows-symbol"></i> Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT SECTION END -->

        <section class="mission-vision">
            <img src="{% static 'images/design_icon_1.png' %}" alt="Design" class="design-img"/>
            <div class="mission">
                <div class="mission-img" data-aos="fade-down-right">
                    <img src="{% static 'images/mission.jpeg' %}" alt="Mission Image">
                </div>
                <div class="text-box">
                    <h4 data-aos="fade-left">Our Mission</h4>
                    {% if our_mission %}
                        <h3 data-aos="fade-up-left">{{ our_mission.system_title }}</h3>
                        <p data-aos="fade-up-left">{{ our_mission.system_value }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="vision">
                <div class="text-box">
                    <h4 data-aos="fade-right">Our Vision</h4>
                    {% if our_vision %}
                        <h3 data-aos="fade-up-right">{{ our_vision.system_title }}</h3>
                        <p data-aos="fade-up-right">{{ our_vision.system_value }}</p>
                    {% endif %}
                </div>
                <div class="vision-img" data-aos="fade-left">
                    <img src="{% static 'images/vision.jpeg' %}" alt="Vision Image">
                </div>
            </div>
            <img src="{% static 'images/design_icon_2.png' %}" alt="Design" class="design-img2" />
        </section>


        <section class="count_section section-space">
            <img src="{% static 'images/design_icon_1.png' %}" alt="Design" class=" what_we_do"/>


            <div class="count_in_number">
                <div class="count_box1">
                    <h1 class="h2_text" style="display: inline;">₹ </h1><h1 class="numbers1 h2_text" data-val="56.53Cr" style="display: inline;">56.53Cr</h1>
                    <p>In Services</p>
                </div>
                <div class="count_box2">
                    <h1 class="numbers1 h2_text " data-val="190K">190K</h1>
                    <p>Beneficiaries</p>
                </div>
            </div>
            
            <div class="ben-counts">
                
                <div class="count-box" data-aos="fade-up" data-aos-duration="1000">
                    <div class="icon-container">
                        <img src="{% static 'images/MedicalW.svg' %}" alt="Icon" class="icon">
                    </div>
                    <div class="count_text-container">
                        <p class="numbers1" data-val="123.7K+">000
                        <p class="below-number">Medical Aid</p>
                    </div>
                </div>

                <div class="count-box" data-aos="fade-up" data-aos-duration="1500">
                    <div class="icon-container">
                        <img src="{% static 'images/cancer_icon_white.png' %}" alt="Icon" class="icon">
                    </div>
                    <div class="count_text-container">
                        <p class="numbers1" data-val="27.2K+">0000</p>
                        <p class="below-number">Cancer</p>
                    </div>
                </div>

                <div class="count-box" data-aos="fade-up" data-aos-duration="2000">
                    <div class="icon-container">
                        <img src="{% static 'images/DialysisW.svg' %}" alt="Icon" class="icon">
                    </div>
                    <div class="count_text-container">
                        <p class="numbers" data-val="36.3K+">00</p>
                        <p class="below-number">Dialysis</p>
                    </div>
                </div>

                <div class="count-box" data-aos="fade-up" data-aos-duration="2500">
                    <div class="icon-container">
                        <img src="{% static 'images/education_white.png' %}" alt="Icon" class="icon">
                    </div>
                    <div class="count_text-container">
                        <p class="numbers" data-val="2.4K+">00</p>
                        <p class="below-number">Education</p>
                    </div>
                </div>

                <div class="count-box" data-aos="fade-up" data-aos-duration="2500">
                    <div class="icon-container">
                        <img src="{% static 'images/Relief for PovertyW.svg' %}" alt="Icon" class="icon">
                    </div>
                    <div class="count_text-container">
                        <p class="numbers" data-val="1.3K+">00</p>
                        <p class="below-number">Relief for Poverty</p>
                    </div>
                </div>

                

            </div>

            <!-- <img src="{% static 'images/design_icon_2.png' %}" alt="Design" class="trustee_img_bg" /> -->
        </section>


        
        
       
        <!-- <div class="blog-one section-space">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-9">
                        <div class="sec-title">
                            <h6 class="sec-title__tagline @@extraClassName">
                                Government Scheme
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="blog-one__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel"
                    data-owl-options='{
            "items": 3,
            "margin": 30,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": false,
            "nav":false,
            "dots":true,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1,
                    "margin": 20
                },
                "575":{
                    "items": 1,
                    "margin": 30
                },
                "768":{
                    "items": 2,
                    "margin": 30
                },
                "992":{
                    "items": 3,
                    "margin": 30
                },
                "1200":{
                    "items": 3,
                    "margin": 30
                }
            }
            }'>
                    {% for govtscheme in govtschemes %}
                    <div class="item">
                        <div class="blog-card wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                            <a href="{% url 'displayParticularEvent' govtscheme.id %}" class="blog-card__image">
                                <img src="{{ govtscheme.govtscheme_img.url }}" alt="DIALYSIS CENTRE" />
                                
                            </a>
                            <div class="blog-card__content" style="
                    background-image: url('/static/images/blog/blog-bg-1-1.png');
                  ">
                                <h3 class="blog-card__title">
                                    <a href="{% url 'govtScheme' govtscheme.id %}">{{ govtscheme.govtscheme_title }}</a>
                                </h3>
                                <p>
                                    {{ govtscheme.govtscheme_description|slice:":230" }}{% if event_item.govtscheme_description|length > 230 %}...{% endif %}
                                </p>
                                <a href="{% url 'govtScheme' govtscheme.id %}" class="blog-card__link">
                                    <span class="blog-card__link__front"><span class="icon-duble-arrow"></span></span>
                                    <span class="blog-card__link__back"><span class="icon-duble-arrow"></span>Read
                                        More</span> </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div> -->

        <!-- <div class="blog-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-9">
                        <div class="sec-title">
                            <h6 class="sec-title__tagline @@extraClassName">
                                Scolarship Hub
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="blog-one__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel"
                    data-owl-options='{
            "items": 3,
            "margin": 30,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": false,
            "nav":false,
            "dots":true,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1,
                    "margin": 20
                },
                "575":{
                    "items": 1,
                    "margin": 30
                },
                "768":{
                    "items": 2,
                    "margin": 30
                },
                "992":{
                    "items": 3,
                    "margin": 30
                },
                "1200":{
                    "items": 3,
                    "margin": 30
                }
            }
            }'>
                    {% for govtscheme in govtschemes %}
                    <div class="item">
                        <div class="blog-card wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                            <a href="{% url 'displayParticularEvent' govtscheme.id %}" class="blog-card__image">
                                <img src="{{ govtscheme.govtscheme_img.url }}" alt="DIALYSIS CENTRE" />
                                <div class="blog-card__date"><span>17</span> July 2020</div>
                                <div class="blog-card__react"><span>{{ govtscheme.reactions }}</span> Reactions</div>
                            </a>
                            <div class="blog-card__content" style="
                    background-image: url('/static/images/blog/blog-bg-1-1.png');
                  ">
                                <h3 class="blog-card__title">
                                    <a href="{% url 'govtScheme' govtscheme.id %}">{{ govtscheme.govtscheme_title }}</a>
                                </h3>
                                <p>
                                    {{ govtscheme.govtscheme_description|slice:":230" }}{% if event_item.govtscheme_description|length > 230 %}...{% endif %}
                                </p>
                                <a href="{% url 'govtScheme' govtscheme.id %}" class="blog-card__link">
                                    <span class="blog-card__link__front"><span class="icon-duble-arrow"></span></span>
                                    <span class="blog-card__link__back"><span class="icon-duble-arrow"></span>Read
                                        More</span> </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div> -->
        

        <!-- <div class="section" id="beneficiary-chart-section">
            <h2 data-aos="fade-left">Beneficiaries & Amount Disbursed</h2>

            <label for="yearSelect">Select Year:</label>
            <select id="yearSelect">
                {% for year, data in chart_data.items %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
            </select>

            <p>Total Beneficiaries: <span id="totalBeneficiaries">0</span></p>
            <p>Total Amount Disbursed: ₹ <span id="totalAmount">0</span></p>
        
            <canvas id="beneficiaryChart" width="600" height="400" data-aos="fade-right"></canvas>
          </div> -->


          <section class="partner">

            <h2 data-aos="fade-up" data-aos-anchor-placement="top-center" style="text-align: center;">Meet our Partners</h2>

            <div class="blog-one section-space">
                <div class="container ">
                    <div class="blog-one__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel"
                      data-owl-options='{
                        "items": 6,
                        "margin": 10,
                        "loop": true,
                        "autoplay": true,
                        "autoplayTimeout": 2000,
                        "autoplayHoverPause": false,
                        "dots": false,
                        "nav": true,
                        "responsive": {
                            "0": { "items": 2 },
                            "576": { "items": 3 },
                            "768": { "items": 3 },
                            "992": { "items": 5 },
                            "1200": { "items": 6 }
                          }
                      }'>
                      
                      <!-- Sample Images -->
                      {% for logo in logos %}
                      <div class="patner">
                        <a href="{{ logo.website|default:'/' }}" target="_blank" title="{{ logo.name }}">
                            <img src="{{ logo.image.url }}" alt="{{ logo.name }}">
                          </a>
                      </div>
                    {% endfor %}
                
                    </div>

                    
                  </div>
            </div>
          </section>


          <section class="testimonials-one section-space">
            <div class="testimonials-one__bg cleenhearts-jarallax" data-jarallax data-speed="0.3"
                data-imgPosition="50% -100%" style="
            background-image: url(static/images/backgrounds/testimonial-bg-1.jpg);
          "></div>
            <div class="container">
                <div class="testimonials-one__wrapper">
                    <div class="testimonials-one__top">
                        <div class="row gutter-y-30 align-items-center">
                            <div class="col-lg-12">
                                <div class="sec-title">
                                    <h6 class="sec-title__tagline @@extraClassName sec-title__tagline--center">
                                        CASE STUDIES
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-one__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel"
                        data-owl-options='{
                "items": 1,
                "margin": 10,
                "smartSpeed": 700,
                "loop":true,
                "autoplay": 6000,
                "nav":false,
                "dots":true,
                "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
                "responsive":{
                    "0":{
                        "items": 1,
                        "margin": 0
                    },
                    "575":{
                        "items": 1,
                        "margin": 0
                    },
                    "768":{
                        "items": 1,
                        "margin": 0
                    },
                    "992":{
                        "items": 1,
                        "margin": 0
                    },
                    "1200":{
                        "items": 1,
                        "margin": 0
                    }
                }
                }'>
                        {% for title, description in casestudy %}
                        <div class="item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="testimonials-card">
                                <div class="testimonials-card__bg"></div>
                                <div class="testimonials-card__info">
                                    <div class="testimonials-card__info__left">
                                        <h4 class="testimonials-card__name">{{title}}</h4>
                                    </div>
                                    <div class="cleenhearts-ratings testimonials-card__rattings">
                                        <span class="icon-star"></span><span class="icon-star"></span><span
                                            class="icon-star"></span><span class="icon-star"></span><span
                                            class="icon-star"></span>
                                    </div>
                                </div>
                                <div class="testimonials-card__content">
                                    <p class="testimonials-card__text">
                                        {{description}}
                                    </p>
                                    <div class="testimonials-card__quote">
                                        <span class="icon-quote"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
          

        <a href="https://wa.me/918657970797?text=Hello%2C%20I%20would%20like%20to%20know%20more%20about%20your%20services."
            class="whatsapp-float" target="_blank" title="Chat with us on WhatsApp">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
        </a>
        <section class="subscribe">
            <div class="subscribe__bg"></div>
            <div class="container">
                <div class="row1">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        {% for quote in page_quotes %}
                        <div class="subscribe__content">
                            <h2 class="subscribe__title">{{ quote.page_quotes|safe }}</h2>
                            <!-- <span class="subscribe__title-image icon-email"></span> -->
                            <!-- <h2 class="subscribe__title">Subscribe Now</h2> -->
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="col-lg-7 wow fadeInUp">
                        <form action="#" data-url="MAILCHIMP_FORM_URL" class="subscribe__form mc-form" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <input type="email" name="EMAIL" id="subscribe" placeholder="enter your email" class="subscribe__form__input" />
                            <button type="submit" class="subscribe__form__btn">
                           <span class="subscribe__form__btn__text">Subscribe now</span>
                            <span class="subscribe__form__btn__icon icon-paper-plane"></span>
                           </button>
                        </form>
                        <div class="mc-form__response"></div>
                    </div> -->
                </div>
            </div>
            <div class="subscribe__shape">
                <div class="subscribe__shape__one"></div>
                <div class="subscribe__shape__two"></div>
            </div>
        </section>


    </div>


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
            <div class="logo-box">
                <a href="{% url 'home' %}" aria-label="logo image"><img src="{% static 'images/logo-light.png' %}"
                        width="155" alt="" /></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@khidmattrust.org">info@khidmattrust.org</a> <br>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+91 86579 70797 ">+91 86579 70797 </a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftrust_khidmat">
                    <img src="{% static 'images/X_logo white.svg' %}" alt="X Logo" class="x-logo" />
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.instagram.com/khidmat_trust/?igsh=MXU0eHg3NXNva245cw%3D%3D" aria-hidden="true">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div>
        </div>
    </div>

    <div class="search-popup @@extraClassName">
        <div class="search-popup__overlay search-toggler"></div>
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="khidmat-btn">
                    <span><i class="icon-search"></i></span>
                </button>
            </form>
        </div>
    </div>

    <!-- <div id="progressbar">
        <span class="progressValue">
            0%
        </span>
    </div> -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <!-- <aside class="sidebar-one">
        <div class="sidebar-one__overlay sidebar-btn__toggler"></div>
        <div class="sidebar-one__content">
            <span class="sidebar-one__close sidebar-btn__toggler"><i class="fa fa-times"></i></span>
            <div class="sidebar-one__logo sidebar-one__item">
                <a href="{% url 'home' %}" aria-label="logo image"><img
                        src="{% static 'images/kct-logo-white-svg.svg' %}" width="155" alt="logo-dark" /></a>
            </div>
            <div class="sidebar-one__about sidebar-one__item">
                <p class="sidebar-one__about__text">Khidmat Charitable Trust (KCT) is a Non-Government Organization
                    (NGO) registered under the Government of India’s Public Trust Registration Act of 1950 on 12
                    December 2001.</p>
            </div>
            <div class="sidebar-one__information sidebar-one__item">
                <h4 class="sidebar-one__title">Information</h4>
                <ul class="sidebar-one__information__list">
                    <li>
                        <span class="sidebar-one__information__icon icon-location"></span>
                        <address class="sidebar-one__information__address">
                            <p class="sidebar-one__information__text">C/O Educational & Welfare Foundation, P.T Mane
                                Udyan, Mirza
                                Galib Marg, Opp. Rolex Restaurant, Clare Road, Nagpada Junction, Mumbai: 400 008
                            </p>
                        </address>
                    </li>
                    <li>
                        <i class="sidebar-one__information__icon icon-envelope"></i>
                        <p class="sidebar-one__information__text"><a
                                href="mailto:info@khidmattrust.org.com">info@khidmattrust.org.com</a></p>
                    </li>
                    <li>
                        <span class="sidebar-one__information__icon icon-phone"></span>
                        <p class="sidebar-one__information__text"><a href="tel:91 86579 70797">91 86579 70797</a></p>
                    </li>
                </ul>
            </div>
            <div class="sidebar-one__socila social-link sidebar-one__item">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftrust_khidmat">
                    <img src="{% static 'images/X_logo' %}" alt="X Logo" class="x-logo" />
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.instagram.com/khidmat_trust/?igsh=MXU0eHg3NXNva245cw%3D%3D" aria-hidden="true">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div>
        </div>
    </aside> -->
    <div id="donateNowPopup" class="popup-overlay">
        <div class="popup-content">
            <button class="close-popup" id="closeDonateNowPopup">&times;</button>
            <h2>Donate Now</h2>
            <p>Every charitable act is a stepping stone towards heaven</p>
            <a href="{% url 'donate' %}"> <button id="donateNowButton" class="btn">Donate Now</button></a>
            <a href="https://www.upilinks.in/payment-link/upi1281220331" target="_blank" class="upi-link">UPI ID-
                upi1281220331</a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>

function updateTotals(yearData) {
  const totalBeneficiaries = yearData.beneficiaries.reduce((a, b) => a + b, 0);
  const totalAmount = yearData.amount.reduce((a, b) => a + b, 0);

  document.getElementById("totalBeneficiaries").textContent = totalBeneficiaries.toLocaleString('en-IN');
  document.getElementById("totalAmount").textContent = totalAmount.toLocaleString('en-IN');
}
        const chartData = {{ chart_data_json|safe }};
      
        // Get list of years from keys
        const years = Object.keys(chartData);
        const currentYear = years[0]; // Use the first year as default


        // Populate year dropdown
        const yearSelect = document.getElementById("yearSelect");
        years.forEach(year => {
          const option = document.createElement("option");
          option.value = year;
          option.text = year;
          yearSelect.appendChild(option);
        });
      
        // Set default selected year
        yearSelect.value = currentYear;
      
        // Create chart config
        const ctx = document.getElementById('beneficiaryChart').getContext('2d');
        
        
        const config = {
  type: 'bar',
  data: {
    labels: chartData[currentYear].labels,
    datasets: [
      {
        label: 'Beneficiaries',
        data: chartData[currentYear].beneficiaries,
        backgroundColor: 'rgba(54, 162, 235, 0.6)',
        yAxisID: 'y1', // Left y-axis for beneficiaries
      },
      {
        label: 'Amount Disbursed (in ₹)',
        data: chartData[currentYear].amount,
        backgroundColor: 'rgba(255, 99, 132, 0.6)',
        yAxisID: 'y2', // Right y-axis for amount
      }
    ]
  },
  options: {
    responsive: true,
    scales: {
      y1: {
        position: 'left',
        beginAtZero: true,
      },
      y2: {
        position: 'right',
        beginAtZero: true,
      }
    }
  }
};
      
        const myChart = new Chart(ctx, config);
        updateTotals(chartData[currentYear]);
        // Handle year change
        yearSelect.addEventListener('change', function () {
          const selectedYear = this.value;
          const yearData = chartData[selectedYear];

      
          myChart.data.labels = yearData.labels;
          myChart.data.datasets[0].data = yearData.beneficiaries;
          myChart.data.datasets[1].data = yearData.amount;
          myChart.update();

          updateTotals(yearData);
        });
      </script>
      
      
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const donateNowPopup = document.getElementById("donateNowPopup");
            const donateNowButton = document.getElementById("donateNowButton");
            const closeDonateNowPopup = document.getElementById("closeDonateNowPopup");
            const qrCodePopup = document.getElementById("qrCodePopup");
            const closeQrCodePopup = document.getElementById("closeQrCodePopup");

            // Display the "Donate Now" popup
            donateNowPopup.style.display = "flex";

            // When "Donate Now" button is clicked
            donateNowButton.addEventListener("click", () => {
                donateNowPopup.style.display = "none"; // Hide the first popup
                qrCodePopup.style.display = "flex"; // Show the QR code popup
            });

            // Close the "Donate Now" popup
            closeDonateNowPopup.addEventListener("click", () => {
                donateNowPopup.style.display = "none";
            });

            // Close the QR code popup
            closeQrCodePopup.addEventListener("click", () => {
                qrCodePopup.style.display = "none";
            });
        });
    </script>
    <!-- <script>
       let valueDisplays = document.querySelectorAll(".numbers1");
let interval = 4000;

valueDisplays.forEach((valueDisplay) => {
    let startValue = 0;

    let dataVal = valueDisplay.getAttribute("data-val");
    let numericPart = parseInt(dataVal); 
    let suffix = dataVal.replace(numericPart, "");

    let increment = Math.ceil(numericPart / 20); 
    let duration = Math.floor(interval / (numericPart / increment));

    let counter = setInterval(() => {
        startValue = Math.min(startValue + increment, numericPart);
        valueDisplay.textContent = startValue + suffix;
        if (startValue === numericPart) clearInterval(counter);
    }, duration);
});
    </script>

    <script>
        let valueDisplays1 = document.querySelectorAll(".numbers");
        let interval1 = 4000;

        valueDisplays1.forEach((valueDisplay) => {
        let startValue = 0;
        let dataVal = valueDisplay.getAttribute("data-val");
        let numericPart = parseInt(dataVal);
        let suffix = dataVal.replace(numericPart, "");
        let duration = Math.floor(interval1 / numericPart);

        let counter = setInterval(function () {
            startValue += 1;
            valueDisplay.textContent = startValue + suffix;
            if (startValue == numericPart) {
                clearInterval(counter);
            }
        }, duration);
        });
    </script> -->


    <script>
        function animateNumbersOnce(container) {
            const valueDisplays = container.querySelectorAll(".numbers1, .numbers");
    
            valueDisplays.forEach((valueDisplay) => {
                let startValue = 0;
                let dataVal = valueDisplay.getAttribute("data-val");
    
                // Extract numeric part (like 27.2 from 27.2K+)
                let numericPart = parseFloat(dataVal);
    
                // Extract suffix (like K+ or CR)
                let suffixMatch = dataVal.match(/[^\d.]+$/);
                let suffix = suffixMatch ? suffixMatch[0] : "";
    
                let interval = 4000;
                let totalSteps = 50;
    
                let increment = parseFloat((numericPart / totalSteps).toFixed(2));
                let duration = Math.floor(interval / totalSteps);
    
                let counter = setInterval(() => {
                    startValue = Math.min(startValue + increment, numericPart);
                    
                    // Format: if decimal ends with .0, remove it
                    let formatted = startValue.toFixed(1).replace(/\.0$/, '');
    
                    valueDisplay.textContent = formatted + suffix;
    
                    if (startValue >= numericPart) {
                        clearInterval(counter);
                    }
                }, duration);
            });
        }
    
        const countSection = document.querySelector('.count_section');
    
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    animateNumbersOnce(entry.target);
                    observer.unobserve(entry.target);
                }
            });
        }, {
            threshold: 0.5
        });
    
        if (countSection) {
            observer.observe(countSection);
        }
    </script>
    
    <script>
        let calScrollValue = () => {
            let scrollProgress = document.getElementById('progressbar');
            let pos = document.documentElement.scrollTop;
            let calHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round((pos * 100) / calHeight);
            let progressValue = document.querySelector('.progressValue');

            if (pos > 100) {
                scrollProgress.style.display = 'grid';
            } else {
                scrollProgress.style.display = 'none';
            }

            // Corrected string interpolation
            progressValue.textContent = `${scrollValue}%`;

            // Fixing the background style
            scrollProgress.style.background = `conic-gradient(#194eb9 ${scrollValue}%, #67ccff ${scrollValue}%)`;
        }

        window.onscroll = calScrollValue;
        window.onload = calScrollValue;

        document.getElementById('progress').addEventListener('click', () => {
            // Do nothing on click, just update the percentage text
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownButtons = document.querySelectorAll('.dropdown-btn');
    
            dropdownButtons.forEach(button => {
                button.addEventListener('click', function () {
                    // Close all other dropdowns
                    dropdownButtons.forEach(otherButton => {
                        if (otherButton !== button) {
                            const otherDropdownContent = otherButton.nextElementSibling;
                            otherDropdownContent.classList.remove('open');
                        }
                    });
    
                    // Toggle the clicked dropdown
                    const dropdownContent = button.nextElementSibling;
                    dropdownContent.classList.toggle('open');
                });
            });
    
            // Close dropdowns when clicking outside
            document.addEventListener('click', function (event) {
                if (!event.target.closest('.dropdown')) {
                    dropdownButtons.forEach(button => {
                        const dropdownContent = button.nextElementSibling;
                        dropdownContent.classList.remove('open');
                    });
                }
            });
        });
    </script>
  

 
 
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

    <script src="{% static 'js/jarallax.min.js' %}"></script>

    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <script src="{% static 'js/jquery.appear.min.js' %}"></script>

    <script src="{% static 'js/jquery.circle-progress.min.js' %}"></script>

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'js/nouislider.min.js' %}"></script>

    <script src="{% static 'js/tiny-slider.js' %}"></script>

    <script src="{% static 'js/wNumb.min.js' %}"></script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/wow.js' %}"></script>

    <script src="{% static 'js/imagesloaded.min.js' %}"></script>

    <script src="{% static 'js/isotope.js' %}"></script>

    <script src="{% static 'js/countdown.min.js' %}"></script>

    <script src="{% static 'js/jquery.circleType.js' %}"></script>

    <script src="{% static 'js/jquery.lettering.min.js' %}"></script>

    <script src="{% static 'js/cleenhearts.js' %}"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-plugin-collection.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-plugin-collection.js"></script>
    <script src="js/script.js"></script>

    <script>
        AOS.init();
    </script>
</body>
{% endblock content%}